.alert-link {
    display: flex;
    align-items: center;
	background-color: #ECD5D8;
    color: #BC2A4D;
	margin: 10px 0;
    font-size: 1.1em;
    padding: 5px 10px;
    border-radius: 7px;
}

.inner_alert {
    width: 30px;
}

.inner_alert_explain {
    flex: 1;
}